.container-cart {
    max-width: 1200px;
    min-height: 60vh;
    margin: 0 auto;
    padding: 2rem;
}

h1 {
    margin-bottom: 2rem;
    color: var(--black);
}

.empty-cart {
    text-align: center;
    padding: 3rem;
    background-color: var(--background-color);
    border-radius: 8px;
}

.empty-cart i {
    font-size: 4rem;
    color: var(--primary);
    margin-bottom: 1rem;
}

.empty-cart p {
    font-size: 1.2rem;
    margin-bottom: 2rem;
    color: var(--black);
}

.cart-items {
    display: flex;
    flex-direction: column;
    gap: 1rem;
    margin-bottom: 2rem;
}

.cart-item {
    display: flex;
    align-items: center;
    gap: 1.5rem;
    padding: 1rem;
    background-color: var(--white);
    border-radius: 8px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.cart-product-image {
    width: 100%;
    height: 375px;
    background-color: var(--white);
    display: flex;
    align-items: center;
    justify-content: center;
    overflow: hidden;
}

.cart-product-image img {
    width: 100%;
    height: 100%;
    object-fit: contain;
    padding: 10px;
}

.platform {
    color: var(--primary);
}

.quantity-controls {
    display: flex;
    align-items: center;
    gap: 0.5rem;
}

.quantity-input {
    width: 60px;
    padding: 0.5rem;
    border: 1px solid var(--gray);
    border-radius: 4px;
    text-align: center;
    font-size: 1rem;
}

.product-price {
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    gap: 0.5rem;
}

.price {
    font-size: 1.2rem;
    font-weight: 500;
    color: var(--black);
}

.cart-summary {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1.5rem;
    background-color: var(--gray-light);
    border-radius: 8px;
    margin-top: 2rem;
}

.total {
    display: flex;
    align-items: center;
    gap: 1rem;
    font-size: 1.2rem;
    color: var(--black);
}

.total-price {
    font-weight: 500;
    color: var(--primary-color);
}

.error-message {
    background-color: #f3d4d7;
    color: #971d29;
    padding: 1rem;
    border-radius: 4px;
    margin-bottom: 1rem;
  
}

@media (max-width: 768px) {
    .cart-item {
        flex-direction: column;
        align-items: flex-start;
    }

    .product-price {
        width: 100%;
        flex-direction: row;
        justify-content: space-between;
        align-items: center;
    }

    .cart-summary {
        flex-direction: column;
        gap: 1rem;
    }

    .error-message {
        margin: .5rem;
        font-size: .9rem;
    }

    .quantity-input {
        width: 50px;
        padding: .4rem;
        font-size: .9rem;
    }
} 