.auth-page {
    min-height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    background: var(--gray-light);
}

.auth-container {
    width: 100%;
    max-width: 400px;
    padding: 20px;
}

.auth-box {
    background: var(--primary);
    border-radius: 8px;
    padding: 2rem;
    color: var(--white);
}

.auth-box h1 {
    text-align: center;
    color: var(--primary-color);
    margin-bottom: 2rem;
    font-size: 1.8rem;
}

.auth-form .form-group {
    margin-bottom: 1.5rem;
}

.auth-form label {
    display: block;
    margin-bottom: .5rem;
    font-weight: 500;
}

.auth-form input {
    width: 100%;
    padding: .75rem;
    border-radius: 4px;
    font-size: 1rem;
}

.remember-me {
    display: flex;
    align-items: center;
}

.remember-me label {
    display: flex;
    align-items: center;
    gap: .5rem;
    cursor: pointer;
    margin: 0;
}

.auth-form button {
    width: 100%;
    padding: .75rem;
    background: var(--secondary);
    color: white;
    border: none;
    border-radius: 4px;
    font-size: 1rem;
    font-weight: 500;
    cursor: pointer;
}

.auth-form button:hover {
    background: var(--accent);
}

.alert {
    padding: 1rem;
    border-radius: 4px;
    margin-bottom: 1.5rem;
    font-size: .9rem;
}

.auth-links a{
    color: var(--white);
    text-decoration: underline;
    padding-top: 1rem;
}

.auth-links {
    margin-top: 1rem;
}

.auth-box h1 a{
    text-decoration: none;
    color: var(--white);
}

.auth-box h1 a:hover{
    color: var(--secondary);
}
