.order-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 2rem;
    padding-bottom: 1rem;
    border-bottom: 1px solid var(--gray);
}

.order-header h1 {
    font-size: 1.8rem;
    color: var(--black);
    display: flex;
    align-items: center;
    gap: .5rem;
}

.order-header h1 i {
    color: var(--primary);
}

.order-actions {
    display: flex;
    gap: 1rem;
}

.order-details-container {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 2rem;
    margin-bottom: 2rem;
}

.order-info-section {
    display: flex;
    flex-direction: column;
    gap: 1.5rem;
}

.order-info, .customer-info, .order-items {
    background: var(--white);
    padding: 1.5rem;
    border-radius: 8px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
    flex: 1;
}

.order-info h2, .customer-info h2 {
    font-size: 1.4rem;
    color: var(--black);
    margin-bottom: 1.5rem;
    padding-bottom: .5rem;
    border-bottom: 2px solid var(--primary);
}

.info-group {
    margin-bottom: 1rem;
    display: flex;
    flex-direction: column;
    gap: .5rem;
}

.info-group label {
    font-weight: 600;
    color: var(--gray);
    font-size: 0.9rem;
}

.info-group span {
    color: var(--black);
    font-size: 1.1rem;
}

.info-group .status-badge {
    display: inline-block;
    padding: 0.3rem 0.8rem;
    border-radius: 20px;
    font-size: 0.9rem;
    font-weight: 600;
}

.status-badge.status-completed {
    background-color: #c8e9d0;
    color: #0d461a;
}




.info-group .price {
    font-weight: 600;
    color: #0d461a;
    font-size: 1.2rem;
}

.order-items {
    background: var(--white);
    padding: 1.5rem;
    border-radius: 8px;

}

.order-items h2 {
    font-size: 1.4rem;
    color: var(--black);
    margin-bottom: 1.5rem;
    padding-bottom: .5rem;
    border-bottom: 2px solid var(--gray);
}




.items-table {
    width: 100%;
    border-collapse: collapse;
    margin-top: 1rem;
}

.items-table th {
    background-color: var(--white);
    padding: 1rem;
    text-align: left;
    font-weight: 600;
    color: var(--gray);
    border-bottom: 2px solid var(--gray);
}

.items-table td {
    padding: 1rem;
    border-bottom: 1px solid var(--gray);
    color: var(--black);
}

.items-table tr:hover {
    background-color: var(--white);
}

.items-table .price {
    font-weight: 600;
    color: #0d461a;
}

.items-table .total {
    font-weight: 700;
    color: #0d461a;
}